*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: auto;
    height: 100vh;
    background-color: #000;
}
.container{
    position:absolute;
    top: 25%;
    left: 40%;
    margin-bottom: 5px;
}
   
img{
    height: 60%;
    justify-content: center;
    position: relative;
    left: 20%;
    top: 20%;
}

.heading{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
.board{
    margin: 20px 0;
}
.board div{
    display: flex;
}
.board .boxes{
    width: 8rem;
    height: 8rem;
    margin: 2px;
    background-color: #ffffff57;
    border: none;
    border-radius: 15px;
}
.reset{
    position: relative;
    top: 5%;
    left: 38%;
    padding: 8px 25px;
    background-color: black;
    border: 0.1px solid #ffffff61;
    color: aliceblue;
    font-size: larger;

}
@media only screen and (max-width: 600px){
    *{
        overflow:hidden;
    }
    .body{
        background-color: #000;
    }
    .container{
        position: relative;
        left: 5%;
        justify-content: center;
        align-items: center;
    }
    .heading{
        font-size: 20px;
    }
}